<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Dog</title>
</head>
<body>
    <h1>create dog</h1>
    <a href="/">👈 back</a>
    <hr>

    <form action="/dogs/create" method="POST">
        <p>Name</p>
        <input name="name">
        <p>age</p>
        <input name="age">
        <p>breed</p>
        <input name="breed">
        <p>color</p>
        <input name="color">
    
        <p></p>
        <button>make dog 🐶</button>
    </form>

</body>
</html>